@font-face {
/* font-test*/
font-family: FFF-Neostandard;
src:url('FFF-Neostandard.ttf');
}

body {
    text-align: center;
    margin: 0;
    background: #f9ecc3;
}

.head {
    background: #a47719;
    padding: 20px 0;
}

.head h1 {
    margin: 0;
}

.option {
    padding: 20px 0;
    border-bottom: #967227 solid 1px;
}

.float-left {
    float: left; 
    width: 100px;
    color: #a47719;
    font-size: small;
    visibility: hidden;
}

.float-right {
    float: right; 
    width: 100px;
    color: #a47719;
    font-size: small;
}

.gameOpt span {
    display: inline-block;
    width: 20%;
    margin: 5px 10px;
}

.gameOpt span:hover {
    color: #999;
    text-decoration: line-through;
}

.float {
    position: fixed;
    top: 0;
    width: 100%;
    background: #f9ecc3;
    display: none;
}

.result {
    margin: 20px 0 85px 0;
    font-size: 300%;
    font-family: FFF-Neostandard;
}

.result p {
    margin: 10px 0;
}

.clear {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background: #f9ecc3;
    border-top: #967227 solid 1px;
}